* {
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 12px;
}
.container {
    padding: 70px 8% 0 8%;
    &:before,
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}
.cart-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    .backdrop {
        opacity: 0.5;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
    .cart {
        position: absolute;
        z-index: 1;
        right: 10%;
        background: #fff;
        top: 70px;
        width: 500px;
        bottom: 0;

        &-header {
            background: #222;
            height: 55px;
            color: #fff;
            padding: 15px 15px;
        }
        &-close {
            background: none;
            border: none;
            color: #ffffff;
            position: absolute;
            right: 15px;
            top: 16px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }
        &-count {
            font-weight: normal;
            font-size: 14px;
        }
        &-body {
            height: calc(100% - 55px);
            background-color: #e5e5e5;
            padding-bottom: 110px;
            overflow: auto;
        }
        &-banner {
            // display: none;
            background-color: #ffffff;
            display: flex;
            height: 50px;
            align-items: center;
            padding: 8px 12px;
            margin: 10px 5px 0 5px;
            img {
                max-height: 100%;
                margin-right: 20px;
            }
        }
        &-empty {
            display: none;
            text-align: center;
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            h3 {
                font-size: 20px;
                padding-bottom: 5px;
            }
        }
        &-start {
            width: calc(100% - 30px);
            padding: 15px 0;
            border: none;
            background-color: #bc2b4b;
            color: white;
            display: none;
            bottom: 15px;
            position: absolute;
            margin: 0 15px;
        }
        &-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 12px;
            height: 90px;
            background-color: #ffffff;
            box-shadow: 0px -3px 8px -5px #888888;
            border-top: 1px solid #bbb;
            p {
                text-align: center;
                margin-bottom: 5px;
            }
            .cart-checkout {
                //display: none;
                width: 100%;
                padding: 15px;
                border: none;
                background-color: #bc2b4b;
                color: white;
                text-align: left;
                span {
                    float: right;
                }
            }
        }
        &-product {
            height: 100px;
            overflow: hidden;
            margin: 10px 0 0 0;
            background: #fff;
            display: flex;
            padding: 10px 15px;
            align-items: center;
        }
        .product {
            &-img {
                width: 100px;
                img {
                    width: 100%;
                }
            }
            &-name {
                padding: 5px 0;
                h4 {
                    font-size: 16px;
                    max-height: 45px;
                    overflow: hidden;
                }
            }
            &-desc {
                width: 65%;
                padding: 0 10px;
                align-self: flex-start;
            }
            &-count-container {
                display: flex;
                align-items: center;
            }
            &-count {
                margin-right: 20px;
                span {
                    width: 20px;
                    display: inline-block;
                    text-align: center;
                    top: 2px;
                    position: relative;
                }
                button {
                    width: 26px;
                    height: 26px;
                    border: none;
                    background-color: #bc2b4b;
                    color: white;
                    border-radius: 50%;
                    padding: 0 0 4px 0;
                }
            }
        }
    }
}
footer {
    padding: 12px 8% 12px 8%;
    background-color: #e5e5e5;
}

@media screen and (max-width: 991px) {
    .container {
        padding: 70px 0 0 0;
    }
    .cart-container .cart {
        position: absolute;
        z-index: 1;
        right: 0;
        background: #fff;
        top: 0;
        width: 100%;
        bottom: 0;
    }
    footer {
        margin-top: 24px;
        padding: 12px;
        background-color: #e5e5e5;
    }
}
